Лейбович Екатерина Евгеньевна

БСВВ-22.01

Задание 4. Импорт, преобразование и экспорт данных средствами Pandas

#Описание задачи

В ходе выполнения данного задания необходимо импортировать файл данных из внешнего источника, сформировать новый DataFrame согласно задания, экспортировать результат в файл и предоставить файл в качестве ответа.
Для сохранения и предоставления доступа к итоговому файлу с данными необходимо создать учетную запись на GitHub и разместить файл в публичный репозиторий.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
file_1 = pd.read_csv("https://raw.githubusercontent.com/EvgeniiSopovGitHub/datasets_uni/main/okaivd/lab_4_raw_data.csv")
file_1.head()

  date;unit_01;unit_02;unit_03;unit_04;unit_05;unit_06;unit_07;unit_08;unit_09;unit_10
0  2022-01-01;;35.356841405309794;29.501119790340...
1  2022-01-02;37.1124746430136;49.94437515695568;...
2  2022-01-03;;28.340224471077487;48.018449465161...
3  2022-01-04;50.0;43.55556980883428;36.278831448...
4  2022-01-05;42.434209274063136;28.7346745700960...

In [ ]:
file_1.info

<bound method DataFrame.info of            date    unit_01    unit_02    unit_03    unit_04    unit_05  \
0    2022-01-01        NaN  35.356841  29.501120  49.620615  33.370093
1    2022-01-02  37.112475  49.944375  42.270097  51.557284        NaN
2    2022-01-03        NaN  28.340224  48.018449        NaN  39.209601
3    2022-01-04  50.000000  43.555570  36.278831  43.076333        NaN
4    2022-01-05  42.434209  28.734675  35.919586  49.739334  37.639153
..          ...        ...        ...        ...        ...        ...
360  2022-12-27  40.821794        NaN  35.352931  43.471269  40.233358
361  2022-12-28  36.922681  42.956541  37.757330  39.423959        NaN
362  2022-12-29  39.835742  30.958749  41.143042  46.283822        NaN
363  2022-12-30  34.484518  36.817061  26.891212  40.649628  34.485905
364  2022-12-31  28.044285  38.053724  50.317334  46.277700  44.742887

       unit_06    unit_07    unit_08    unit_09    unit_10
0    38.610154  34.559279  53.436849  41.238733  58.494774
1    37.078793  22.265877  45.772941  75.733055  53.659106
2    46.690520  25.886239  31.383527  78.607074        NaN
3    35.764313  59.110809        NaN  39.244188  66.407508
4          NaN  15.093752  50.664648  48.536941  65.719188
..         ...        ...        ...        ...        ...
360        NaN  25.770243  55.692111        NaN  68.647082
361  42.500627  47.705860  30.529000  46.644630  60.888610
362  35.878442  64.125878  52.910647  76.109909  65.518039
363  39.078600  60.788903  48.904611  66.273623  67.848695
364  35.568732  69.927246  56.475326  73.268611  63.756814

[365 rows x 11 columns]>

In [ ]:
file_1 = pd.read_csv("https://raw.githubusercontent.com/EvgeniiSopovGitHub/datasets_uni/main/okaivd/lab_4_raw_data.csv",
                     sep=";")
file_1.head(3)

,date,unit_01,unit_02,unit_03,unit_04,unit_05,unit_06,unit_07,unit_08,unit_09,unit_10
0,2022-01-01,NaN,35.356841,29.501120,49.620615,33.370093,38.610154,34.559279,53.436849,41.238733,58.494774
1,2022-01-02,37.112475,49.944375,42.270097,51.557284,NaN,37.078793,22.265877,45.772941,75.733055,53.659106
2,2022-01-03,NaN,28.340224,48.018449,NaN,39.209601,46.690520,25.886239,31.383527,78.607074,NaN

In [ ]:
file_1 = file_1.fillna(35)

In [ ]:
file_1.info

<bound method DataFrame.info of            date    unit_01    unit_02    unit_03    unit_04    unit_05  \
0    2022-01-01  35.000000  35.356841  29.501120  49.620615  33.370093
1    2022-01-02  37.112475  49.944375  42.270097  51.557284  35.000000
2    2022-01-03  35.000000  28.340224  48.018449  35.000000  39.209601
3    2022-01-04  50.000000  43.555570  36.278831  43.076333  35.000000
4    2022-01-05  42.434209  28.734675  35.919586  49.739334  37.639153
..          ...        ...        ...        ...        ...        ...
360  2022-12-27  40.821794  35.000000  35.352931  43.471269  40.233358
361  2022-12-28  36.922681  42.956541  37.757330  39.423959  35.000000
362  2022-12-29  39.835742  30.958749  41.143042  46.283822  35.000000
363  2022-12-30  34.484518  36.817061  26.891212  40.649628  34.485905
364  2022-12-31  28.044285  38.053724  50.317334  46.277700  44.742887

       unit_06    unit_07    unit_08    unit_09    unit_10
0    38.610154  34.559279  53.436849  41.238733  58.494774
1    37.078793  22.265877  45.772941  75.733055  53.659106
2    46.690520  25.886239  31.383527  78.607074  35.000000
3    35.764313  59.110809  35.000000  39.244188  66.407508
4    35.000000  15.093752  50.664648  48.536941  65.719188
..         ...        ...        ...        ...        ...
360  35.000000  25.770243  55.692111  35.000000  68.647082
361  42.500627  47.705860  30.529000  46.644630  60.888610
362  35.878442  64.125878  52.910647  76.109909  65.518039
363  39.078600  60.788903  48.904611  66.273623  67.848695
364  35.568732  69.927246  56.475326  73.268611  63.756814

[365 rows x 11 columns]>

In [ ]:
meanMedian = file_1.mean(axis=1)
print('\nMean\n------')
print(meanMedian)

Mean
------
0      40.918846
1      45.039400
2      40.313564
3      44.343755
4      40.948149
         ...
360    41.498879
361    42.032924
362    48.776427
363    45.622275
364    50.643266
Length: 365, dtype: float64

<ipython-input-113-a205ecc1cfdc>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  meanMedian = file_1.mean(axis=1)

In [ ]:
maximus = file_1.max(axis = 1)
print (maximus)

0      58.494774
1      75.733055
2      78.607074
3      66.407508
4      65.719188
         ...
360    68.647082
361    60.888610
362    76.109909
363    67.848695
364    73.268611
Length: 365, dtype: float64

<ipython-input-120-cee8df7f33e4>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  maximus = file_1.max(axis = 1)

In [ ]:
np.minimum = file_1.min(axis = 1)
print (np.minimum)

0      29.501120
1      22.265877
2      25.886239
3      35.000000
4      15.093752
         ...
360    25.770243
361    30.529000
362    30.958749
363    26.891212
364    28.044285
Length: 365, dtype: float64

<ipython-input-118-bf5f7ec503a4>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  np.minimum = file_1.min(axis = 1)